html {
    height: 100%;
    /* background-image: linear-gradient(
        to right top,
        #063b8b,
        #006bb4,
        #0094a8,
        #00b671,
        #9dcd2e
    ); */
    background-color: #28282b;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 900px;
}

:root {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.rounded {
    border-radius: 4rem;
}

.card {
    box-shadow: inset 0px 100px 100px -50px rgba(255, 255, 255, 0.4);
    display: inline-block;
    position: relative;
    border: #83eeff 3px solid;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #e0fbf5;
}

.text-color {
    color: #e0fbf5;
}

.primary-background-color {
    background-color: #0008ff
    ;
}

.secondary-background-color {
    background-color: #00f2ff;
}

.margin-text-card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.big-font {
    font-size: 20px;
}

.w1 {
    width: calc(100% / 12);
}

.w2 {
    width: calc(100% / 6);
}

.w3 {
    width: 25%;
}

.w4 {
    width: calc(100% / 3);
}

.w5 {
    width: calc(100% * 5 / 12);
}

.w6 {
    width: 50%;
}

.w7 {
    width: calc(100% * 7 / 12);
}

.w8 {
    width: calc(100% * 2 / 3);
}

.w9 {
    width: 75%;
}

.w10 {
    width: calc(100% * 5 / 6);
}

.w11 {
    width: calc(100% * 11 / 12);
}

.w12 {
    width: 100%;
}

.margin1 {
    margin-left: 10px;
}

.top-left {
    position: fixed;
    top: 10px;
    left: 10px;
}

.person-picture {
    width: 356px;
}

@media screen and (max-width: 1150px) {
    .card {
        margin-right: auto;
        margin-left: auto;
    }

    .person-picture {
        margin-bottom: 1rem;
        width: calc(100% * 5 / 12);
    }
    .big-font {
        font-size: 17px;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
