header {
    margin-bottom: 50px;
}

#skills .card:hover,
#education .card:hover,
#socials .card:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

#socials .social-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#socials .social-cards .card .info h1 {
    text-align: center;
}

#socials .social-cards .card .info p {
    font-size: 1.1rem;
}

#socials,
#education,
#skills {
    background-color: var(--color-background);
    padding: 40px;
}

#education .header,
#socials .header,
#skills .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#socials .header h1,
#education .header h1,
#skills .header h1 {
    text-align: center;
    color: var(--color-title);
    text-transform: uppercase;
    font-size: 2.8rem;
}

#education .header a,
#socials .header a,
#skills .header a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--color-title);
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
}

#socials .card,
#education .card,
#skills .card {
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#education .card:hover,
#socials .card:hover,
#skills .card:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

#education .card .info h1,
#socials .card .info h1,
#skills .card .info h1 {
    margin-bottom: 20px;
    color: var(--color-title);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Ubuntu";
}

#education .card .info p,
#socials .card .info p,
#skills .card .info p {
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1.8rem;
}


#education .education-cards,
#socials .social-cards,
#skills .skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#education .education-cards .card,
#skills .skills-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 320px;
}

#education .education-cards .card .info i,
#socials .social-cards .card .info i{
    color: var(--color-title);
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#education .education-cards .card .info h1,
#skills .skills-cards .card .info h1 {
    text-align: center;
}

#education .education-cards .card .info p
#skills .skills-cards .card .info p {
    font-size: 1.1rem;
}


@media screen and (max-width: 850px) {
    #education,
    #skills,
    #socials {
        background-color: var(--color-background);
        padding-left: 0px;
        padding-right: 0px ;
    }

}

.container {
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

.progress {
  padding: 6px;;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 18px;
  background-color: --;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  background-color: var(--accent-color);
  background-image: linear-gradient(
    45deg,
    #353535 25%,
    transparent 25%,
    transparent 50%,
    #353535 50%,
    #353535  75%,
    transparent 75%,
    transparent
  );
  animation: progressAnimationStrike 6s;
}

.progress-bar-html-css{
    width: 80%;
}

.progress-bar-javascript{
    width: 70%;
}