.nowPlaying {
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    width: 250px !important;
    height: 100px;
  }
  
  .nowPlayingCard {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nowPlayingImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #nowPlayingDetails {
    padding: 10px;
  }
  
  .nowPlayingTitle {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  .nowPlayingArtist {
    font-size: 14px;
    color: white;
  }
  
  .nowPlayingTime {
    display: flex;
    margin-top: 5px;
  }
  
  .nowPlayingState {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  