.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.social-button:hover {
    transform: scale(1.2);
}

.social-button.github {
    background-color: #3b5998;
}

.social-button.github:hover:before {
    content: "Github";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b5998;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 5px;
}


.social-button.house {
    background-color: #3b5998;
}

.social-button.house:hover:before {
    content: "Home";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b5998;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 5px;
}

.social-button.code {
    background-color: #3b5998;
}

.social-button.code:hover:before {
    content: "Open project";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b5998;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 5px;
}


.margin-top{
    margin-top: 7px;
}