@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
    font-family: "Roboto", sans-serif;
    --color-background: #2b2f4b;
    --color-title: white;
    --accent-color: #1f4fff;
    --color-text: #ccc;
    --color-links: #aaa;
    --second-background-color: 28282B;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    font-size: 14px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 14;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: var(--accent-color);
    top: 52%;
    left: 90%;
    animation-duration: 226s;
    animation-delay: -159s;
    transform-origin: 20vw -17vh;
    box-shadow: 30vmin 0 4.094499180001305vmin currentColor;
}
.background span:nth-child(1) {
    color: var(--accent-color);
    top: 77%;
    left: 28%;
    animation-duration: 188s;
    animation-delay: -113s;
    transform-origin: 22vw -23vh;
    box-shadow: -30vmin 0 3.9137063992296595vmin currentColor;
}
.background span:nth-child(2) {
    color: var(--accent-color);
    top: 88%;
    left: 65%;
    animation-duration: 251s;
    animation-delay: -263s;
    transform-origin: 18vw 6vh;
    box-shadow: -30vmin 0 4.28272483434022vmin currentColor;
}
.background span:nth-child(3) {
    color: var(--accent-color);
    top: 70%;
    left: 50%;
    animation-duration: 91s;
    animation-delay: -266s;
    transform-origin: 22vw -14vh;
    box-shadow: -30vmin 0 4.023140385034885vmin currentColor;
}
.background span:nth-child(4) {
    color: var(--accent-color);
    top: 49%;
    left: 55%;
    animation-duration: 267s;
    animation-delay: -174s;
    transform-origin: -9vw 23vh;
    box-shadow: 30vmin 0 4.487301232018874vmin currentColor;
}
.background span:nth-child(5) {
    color: var(--accent-color);
    top: 86%;
    left: 4%;
    animation-duration: 224s;
    animation-delay: -125s;
    transform-origin: -6vw -10vh;
    box-shadow: -30vmin 0 3.8518301315346086vmin currentColor;
}
.background span:nth-child(6) {
    color: var(--accent-color);
    top: 98%;
    left: 86%;
    animation-duration: 256s;
    animation-delay: -160s;
    transform-origin: 17vw 19vh;
    box-shadow: 30vmin 0 3.7555380098842805vmin currentColor;
}
.background span:nth-child(7) {
    color: var(--accent-color);
    top: 74%;
    left: 79%;
    animation-duration: 219s;
    animation-delay: -121s;
    transform-origin: -18vw 5vh;
    box-shadow: -30vmin 0 4.631802369377486vmin currentColor;
}
.background span:nth-child(8) {
    color: var(--accent-color);
    top: 42%;
    left: 57%;
    animation-duration: 238s;
    animation-delay: -201s;
    transform-origin: 16vw -3vh;
    box-shadow: 30vmin 0 3.9303733822445484vmin currentColor;
}
.background span:nth-child(9) {
    color: var(--accent-color);
    top: 61%;
    left: 21%;
    animation-duration: 20s;
    animation-delay: -339s;
    transform-origin: -21vw -14vh;
    box-shadow: -30vmin 0 4.596510886614572vmin currentColor;
}
.background span:nth-child(10) {
    color: var(--accent-color);
    top: 27%;
    left: 19%;
    animation-duration: 231s;
    animation-delay: -107s;
    transform-origin: -13vw -22vh;
    box-shadow: 30vmin 0 4.291712846669948vmin currentColor;
}
.background span:nth-child(11) {
    color: var(--accent-color);
    top: 67%;
    left: 60%;
    animation-duration: 75s;
    animation-delay: -31s;
    transform-origin: 3vw -2vh;
    box-shadow: -30vmin 0 4.033198918355345vmin currentColor;
}
.background span:nth-child(12) {
    color: var(--accent-color);
    top: 52%;
    left: 26%;
    animation-duration: 179s;
    animation-delay: -12s;
    transform-origin: 24vw -14vh;
    box-shadow: 30vmin 0 3.8170898995697273vmin currentColor;
}
.background span:nth-child(13) {
    color: var(--accent-color);
    top: 85%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -85s;
    transform-origin: 12vw -22vh;
    box-shadow: 30vmin 0 4.406476272479709vmin currentColor;
}
.background span:nth-child(14) {
    color: var(--accent-color);
    top: 51%;
    left: 55%;
    animation-duration: 181s;
    animation-delay: -154s;
    transform-origin: 15vw 0vh;
    box-shadow: 30vmin 0 4.250147724720991vmin currentColor;
}

header {
    width: 100%;
    height: 100vh;

    background-size: cover;
    color: var(--color-title);
}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100vh;
}

header .info-text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: "Ubuntu";
}

header .info-text h3 {
    font-size: 1.5rem;
}

header .info-text .scroll {
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: var(--color-title);
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .info-text .scroll:hover {
    opacity: 0.7;
}

header .info-text .scroll::before {
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: "";
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0;
    }
    15%,
    45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

#about,
#projects {
    background-color: var(--color-background);
    padding: 40px;
}

#about .header,
#projects .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#about .header h1,
#projects .header h1 {
    text-align: center;
    color: var(--color-title);
    text-transform: uppercase;
    font-size: 2.8rem;
}

#about .header a,
#projects .header a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--color-title);
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
}

#about .header a:hover,
#projects .header a:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

#about .card,
#projects .card {
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#about .card:hover,
#projects .card:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

#about .card img {
    max-width: 200px;
    max-height: 200px;
}

#about .card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about .card .info h1,
#projects .card .info h1 {
    margin-bottom: 20px;
    color: var(--color-title);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Ubuntu";
}

#about .card .info p,
#projects .card .info p {
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#projects .project-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#projects .project-cards .card .info i {
    color: var(--color-title);
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#projects .project-cards .card .info h1 {
    text-align: center;
}

#projects .project-cards .card .info p {
    font-size: 1.1rem;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-background);
    color: var(--color-title);
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

a {
    text-decoration: underline;
    color: var(--color-links);
}

.clickable-top-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: var(--color-background);
    color: var(--color-title);
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 6px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.clickable-top-icon img {
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
}

.clickable-top-icon:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

iframe {
    border: none;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2b2f4b;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

@media screen and (max-width: 850px) {
    .d-none-mobile{
        display: none;
    }

    header .info-text h1 {
        font-size: 4rem;
    }

    header .info-text h3 {
        font-size: 1.1rem;
    }

    #about .card {
        flex-direction: column;
        align-items: center;
    }

    #about .card img {
        max-height: 150px;
    }

    #about,
    #projects {
        background-color: var(--color-background);
        padding-left: 15px;
        padding-right: 15px;
    }
}
