
:root {
  font-family: "Roboto", sans-serif;
  --color-background: black;
  --color-title: white;
  --accent-color: #1f4fff;
  --accent-color-2: #4998C6;
  --color-text: #ccc;
  --color-text-2: black;
  --color-links: #aaa;
  --second-background-color: 28282B;
  --nav-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color-2);
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--color-background);
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 15vmin;
  height: 15vmin;
  border-radius: 15vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 14;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--accent-color-2);
  top: 52%;
  left: 90%;
  animation-duration: 226s;
  animation-delay: -159s;
  transform-origin: 20vw -17vh;
  box-shadow: 30vmin 0 4.094499180001305vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--accent-color-2);
  top: 77%;
  left: 28%;
  animation-duration: 188s;
  animation-delay: -113s;
  transform-origin: 22vw -23vh;
  box-shadow: -30vmin 0 3.9137063992296595vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--accent-color-2);
  top: 88%;
  left: 65%;
  animation-duration: 251s;
  animation-delay: -263s;
  transform-origin: 18vw 6vh;
  box-shadow: -30vmin 0 4.28272483434022vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--accent-color-2);
  top: 70%;
  left: 50%;
  animation-duration: 91s;
  animation-delay: -266s;
  transform-origin: 22vw -14vh;
  box-shadow: -30vmin 0 4.023140385034885vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--accent-color-2);
  top: 49%;
  left: 55%;
  animation-duration: 267s;
  animation-delay: -174s;
  transform-origin: -9vw 23vh;
  box-shadow: 30vmin 0 4.487301232018874vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--accent-color-2);
  top: 86%;
  left: 4%;
  animation-duration: 224s;
  animation-delay: -125s;
  transform-origin: -6vw -10vh;
  box-shadow: -30vmin 0 3.8518301315346086vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--accent-color-2);
  top: 98%;
  left: 86%;
  animation-duration: 256s;
  animation-delay: -160s;
  transform-origin: 17vw 19vh;
  box-shadow: 30vmin 0 3.7555380098842805vmin currentColor;
}
.background span:nth-child(7) {
  color: var(--accent-color-2);
  top: 74%;
  left: 79%;
  animation-duration: 219s;
  animation-delay: -121s;
  transform-origin: -18vw 5vh;
  box-shadow: -30vmin 0 4.631802369377486vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--accent-color-2);
  top: 42%;
  left: 57%;
  animation-duration: 238s;
  animation-delay: -201s;
  transform-origin: 16vw -3vh;
  box-shadow: 30vmin 0 3.9303733822445484vmin currentColor;
}
.background span:nth-child(9) {
  color: var(--accent-color-2);
  top: 61%;
  left: 21%;
  animation-duration: 20s;
  animation-delay: -339s;
  transform-origin: -21vw -14vh;
  box-shadow: -30vmin 0 4.596510886614572vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--accent-color-2);
  top: 27%;
  left: 19%;
  animation-duration: 231s;
  animation-delay: -107s;
  transform-origin: -13vw -22vh;
  box-shadow: 30vmin 0 4.291712846669948vmin currentColor;
}
.background span:nth-child(11) {
  color: var(--accent-color-2);
  top: 67%;
  left: 60%;
  animation-duration: 75s;
  animation-delay: -31s;
  transform-origin: 3vw -2vh;
  box-shadow: -30vmin 0 4.033198918355345vmin currentColor;
}
.background span:nth-child(12) {
  color: var(--accent-color-2);
  top: 52%;
  left: 26%;
  animation-duration: 179s;
  animation-delay: -12s;
  transform-origin: 24vw -14vh;
  box-shadow: 30vmin 0 3.8170898995697273vmin currentColor;
}
.background span:nth-child(13) {
  color: var(--accent-color-2);
  top: 85%;
  left: 97%;
  animation-duration: 6s;
  animation-delay: -85s;
  transform-origin: 12vw -22vh;
  box-shadow: 30vmin 0 4.406476272479709vmin currentColor;
}
.background span:nth-child(14) {
  color: var(--accent-color-2);
  top: 51%;
  left: 55%;
  animation-duration: 181s;
  animation-delay: -154s;
  transform-origin: 15vw 0vh;
  box-shadow: 30vmin 0 4.250147724720991vmin currentColor;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--color-text);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--accent-color);
  color: var(--color-text);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-text);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--accent-color);
  border-top-color: var(--color-text);
  border-bottom-color: var(--color-text);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: var(--color-text);
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--nav-color);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--color-text);
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: var(--color-text);
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: var(--color-text);
  background: var(--accent-color);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: var(--color-text);
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: var(--color-text);
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/*--------------------------------------------------------------
# person Section
--------------------------------------------------------------*/
#person {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #person {
    padding-left: 160px;
  }
}

#person:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#person h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--accent-color);
}

#person p {
  color: var(--color-text);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#person p span {
  color: var(--accent-color);
  letter-spacing: 1px;
}

#person .social-links {
  margin-top: 30px;
}

#person .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--color-text);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#person .social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 992px) {
  #person {
    text-align: center;
  }

  #person h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #person p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color-text);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--color-text);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about p {
  color: var(--color-text);
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts p {
  color: var(--color-text);
}

.facts .count-box p{
  color: var(--color-text-2);
}

.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: var(--color-text);
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--accent-color);
  color: var(--color-text);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: var(--color-background);
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills p {
  color: var(--color-text);
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--color-text);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--accent-color);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume p {
  color: var(--color-text)
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-text);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: var(--color-text);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--color-text);
  border: 2px solid var(--accent-color);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--color-text);
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-background);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--accent-color);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio p {
  color: var(--color-text);
}

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--accent-color);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}