:root {
    font-family: "Roboto", sans-serif !important;
    --color-background: white;
    --color-text: black;
    --color-hover: black;
    --header-background-color: #22b3e0;
    --header-hover-color: black;
    --header-text-color: #ffffff;
    --color-primary: #6c9bcf;
    --border-radius-1: 0.4rem;
    --color-light: rgba(132, 139, 200, 0.18);
    --footer-color: rgba(0, 0, 0, 0.3);
    --box-shadow: rgba(0, 0, 0, 0.35);
}

.dark-mode-variables {
    --color-background: #28282b;
    --color-text: white;
    --color-hover: white;
    --header-background-color: #132bca;
    --header-hover-color: pink;
    --header-text-color: white;
    --footer-color: rgba(255, 255, 255, 0.3);
    --box-shadow: rgba(255, 255, 255, 0.35);
}

body {
    background-color: var(--color-background);
}

header ul li a{
    margin-left: 20px !important;
    margin-right: 20px !important;
}

header nav,header .dropdown-menu {
    background-color: var(--header-background-color);
}

header nav a{
    color: var(--header-text-color) !important;
}

header nav a:hover {
    color: var(--header-hover-color) !important;
}

main {
    padding-top: 150px;
    margin-bottom: 500px;
    height: auto;
}

.page-header, .text-muted, .card-subtitle{
    color: var(--color-text) !important;
}


.navbar-collapse .dropdown-item:hover {
    background-color: var(--header-background-color) !important;
    width: 250px;
    color: var(--color-hover)
}

main li{
    background-color: var(--color-background) !important;
    color: var(--color-text) !important;
}

.card{
    border: 3px solid transparent;
    box-shadow: 0 5px 15px var(--box-shadow);
    border-radius: 6px;
    color: var(--color-text) !important;
    background-color: var(--color-background) !important;
}

.card:hover{
    border-color: var(--color-primary);
}

.row{
    margin-top: 15px !important;
}

.darkmode-button:hover, .mobile-darkmode-button:hover {
    cursor: pointer;
}


.darkmode-button, .mobile-darkmode-button {
    text-decoration: none;
    background: none;
    color: var(--color-text);
    border-radius: 2rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    margin-bottom: 20px;
    background-color: none;
}