:root {
    --table-color: rgb(34, 179, 224, 0.4);
    --table-text-color: black;
    --shadow-color: black;
}

.dark-mode-variables {
    --table-color: rgb(19, 43, 202, 0.4);
    --table-text-color: white;
    --shadow-color: white;
}


/* Style for the entire table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    box-shadow: 0 4px 30px var(--shadow-color);
}

/* Style for table rows */
tr {
    background-color: var(--table-color);
    color: var(--table-text-color);
}

/* Style for table cells */
td {
    padding: 10px;
    border: 1px solid --table-color;
    text-align: left;
}
