:root{
    --secondary-color: #245774;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--color-background);
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(1) {
    color: var(--secondary-color);
    top: 52%;
    left: 90%;
    animation-duration: 226s;
    animation-delay: -159s;
    transform-origin: 20vw -17vh;
    box-shadow: 30vmin 0 4.094499180001305vmin currentColor;
}
.background span:nth-child(2) {
    color: var(--secondary-color);
    top: 77%;
    left: 28%;
    animation-duration: 188s;
    animation-delay: -113s;
    transform-origin: 22vw -23vh;
    box-shadow: -30vmin 0 3.9137063992296595vmin currentColor;
}
.background span:nth-child(3) {
    color: var(--secondary-color);
    top: 88%;
    left: 65%;
    animation-duration: 251s;
    animation-delay: -263s;
    transform-origin: 18vw 6vh;
    box-shadow: -30vmin 0 4.28272483434022vmin currentColor;
}
.background span:nth-child(4) {
    color: var(--secondary-color);
    top: 70%;
    left: 50%;
    animation-duration: 91s;
    animation-delay: -266s;
    transform-origin: 22vw -14vh;
    box-shadow: -30vmin 0 4.023140385034885vmin currentColor;
}
.background span:nth-child(5) {
    color: var(--secondary-color);
    top: 49%;
    left: 55%;
    animation-duration: 267s;
    animation-delay: -174s;
    transform-origin: -9vw 23vh;
    box-shadow: 30vmin 0 4.487301232018874vmin currentColor;
}
.background span:nth-child(6) {
    color: var(--secondary-color);
    top: 86%;
    left: 4%;
    animation-duration: 224s;
    animation-delay: -125s;
    transform-origin: -6vw -10vh;
    box-shadow: -30vmin 0 3.8518301315346086vmin currentColor;
}
.background span:nth-child(7) {
    color: var(--secondary-color);
    top: 98%;
    left: 86%;
    animation-duration: 256s;
    animation-delay: -160s;
    transform-origin: 17vw 19vh;
    box-shadow: 30vmin 0 3.7555380098842805vmin currentColor;
}
.background span:nth-child(8) {
    color: var(--secondary-color);
    top: 74%;
    left: 79%;
    animation-duration: 219s;
    animation-delay: -121s;
    transform-origin: -18vw 5vh;
    box-shadow: -30vmin 0 4.631802369377486vmin currentColor;
}
.background span:nth-child(9) {
    color: var(--secondary-color);
    top: 42%;
    left: 57%;
    animation-duration: 238s;
    animation-delay: -201s;
    transform-origin: 16vw -3vh;
    box-shadow: 30vmin 0 3.9303733822445484vmin currentColor;
}
.background span:nth-child(10) {
    color: var(--secondary-color);
    top: 61%;
    left: 21%;
    animation-duration: 20s;
    animation-delay: -339s;
    transform-origin: -21vw -14vh;
    box-shadow: -30vmin 0 4.596510886614572vmin currentColor;
}
.background span:nth-child(11) {
    color: var(--secondary-color);
    top: 27%;
    left: 19%;
    animation-duration: 231s;
    animation-delay: -107s;
    transform-origin: -13vw -22vh;
    box-shadow: 30vmin 0 4.291712846669948vmin currentColor;
}
.background span:nth-child(12) {
    color: var(--secondary-color);
    top: 67%;
    left: 60%;
    animation-duration: 75s;
    animation-delay: -31s;
    transform-origin: 3vw -2vh;
    box-shadow: -30vmin 0 4.033198918355345vmin currentColor;
}
.background span:nth-child(13) {
    color: var(--secondary-color);
    top: 52%;
    left: 26%;
    animation-duration: 179s;
    animation-delay: -12s;
    transform-origin: 24vw -14vh;
    box-shadow: 30vmin 0 3.8170898995697273vmin currentColor;
}
.background span:nth-child(14) {
    color: var(--secondary-color);
    top: 85%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -85s;
    transform-origin: 12vw -22vh;
    box-shadow: 30vmin 0 4.406476272479709vmin currentColor;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}